@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Google Translate UI Elements */
body {
  top: 0 !important;
}
.skiptranslate iframe,
.goog-te-banner-frame {
  display: none !important;
}
#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}
